.vscode/**
.vscode-test/**
out/test/**
src/**
packages/**
template/**
.gitignore
.gitmodules
.cursorrules
.eslintrc.js
.eslintrc_react.cjs
.github/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/
vditor/
build.js
public/
lib.js
backlog.md
index.html
yarn.lock
